<br />
<div class="booyah-box">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @staffs.each do |staff| %>
        <tr>
          <th scope="row"><%= staff.name %></th>
          <td><%= staff.phone %></td>
          <td><%= staff.email %></td>
          <td><%= link_to 'Show', '', class: 'btn btn-warning' %></td>
          <td><%= link_to 'Edit', '', class: 'btn btn-primary' %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
